<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"> 
		<title> Welcome to Wodder! | Your random WOD Generator </title> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	</head> 
	
	<body>
		<button id ="myButton" type="button" class="btn btn-danger btn-lg center-block" style="margin-top: 200px; height: 75px">
		<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Generate WOD
		</button>
		
		<p></p>
		
		<div>
		<style>
			td {border: solid 1px lightgrey; text-align: center
			}
			th {border: solid 1px lightgrey; text-align: center;
			}
		</style>

		<table style ="width: 25%" align="center" class="table table-condensed">
    		<tr> 
     			<td id="WOD">placeholder</td>
     		</tr>
     	</table>

     	<script>
		
		var randomStrings = [
        "Jackie\n\n 1000 Meter Row\n 45 Thrusts\n 30 Pull-ups",
        "Murph\n\n For time:\n 1 mile Run\n 100 Pull-ups\n 200 Push-ups\n 300 Squats\n 1 mile run",
        "Bill\n\n 50 Meter Row\n 44444 Thrusts\n 10000 Pull-ups",
        "Tom\n\n 50 Meter Row\n 44444 Thrusts\n 10000 Pull-ups"
      	];

     	var randomDiv = document.getElementById("WOD");
  		document.getElementById("myButton").addEventListener("click", function() {
          randomIndex = Math.round((Math.random()*randomStrings.length-1));
          oldText = randomStrings[randomIndex];  
       	  newText = oldText.replace(/\n/g, "<br />")   
       	  randomDiv.innerHTML = newText;
    		});
   		
   		</script>
		
		</div>
	</body> 
</html> 